.phass {
  position: relative;
}

.phass .modal-content {
  background-color: #241f21;
  color: #ddd;
}

.phass .close {
  color: #ddd;
}

.phass__banner {
  max-width: 100%;
  overflow: hidden;
}
.phass__banner img {
  height: auto;
  width: 100%;
  display: block;
  line-height: 0;
  margin-bottom: 10px;
}
.phass__evidence {
  position: relative;
  color: #ddd;
  height: 100px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  display: block;
  width: 100%;
  background-color: transparent;
  transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: left;
}
.phass__evidence-icon {
  max-width: 70%;
}

.phass__possible-ghosts {
  color: #ddd;
}

.phass__evidence:focus {
  outline: 0;
}


.phass__evidence.highlight {
  box-shadow: 0 0 20px rgba(69, 208, 233, 0.75);
}

.phass__evidence--disabled {
  border: 5px solid red !important;
}

.phass__evidence--disabled:hover {
  cursor: not-allowed;
  border: 5px solid red !important;
}

.phass__evidence--selected {
  border: 5px solid rgb(144, 238, 144);
}

.phass__evidence:hover {
  /* background-color: #fefefe; */
  transform: scale(1.05,1.05);
}

.phass__evidence-text {
  display: none;
}

.phass__evidence-icon {
  position: absolute;
  width: 50px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.phass__evidence-hide {
  position: absolute;
  width: 25px;
  height: auto;
  left: 20px;
  top: 15px;
  opacity: 0.25;
  transform: translate(-50%, -50%);
}

.phass__evidence-hide--selected {
  opacity: 1;
  box-shadow: 2px 2px #ccc #ccc;
}

.phass__evidence--disabled .phass__disabled {
  display: block;
}

.phass__disabled {
  background-color: #444;
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0.6;
}

.phass__show-objectives,
.phass__reset {
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  display: block;
  padding: 0;
  margin: 0 auto;
}

.phass__show-objectives {
  float: left;
  display: inline-block;
  margin-right: 5px;
}
.phass__show-objectives img {
  padding-bottom: 2px;
  margin-right: 5px;
}

.phass__show-objectives:focus,
.phass__show-objectives:hover,
.phass__reset:focus,
.phass__reset:hover {
  outline: 0;
}

.phass__show-objectives img,
.phass__reset img {
  height: auto;
  width: 20px;
}

.phass__objectives-title,
.phass__possible-ghosts {
  margin: 0;
  display: inline-block;
  clear: both;
  float: left;
  margin-right: 15px;
}

.phass__objectives {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  color: burlywood;
  margin-bottom: 10px;
}

.phass__objectives li {
  float: left;
  margin: 0;
  cursor: pointer;
  text-transform: capitalize;
}

.phass__objectives li.done {
  opacity: 25%;
}

.phass__ghosts li:after,
.phass__objectives li:after {
  content: "|";
  color: #ddd;
  padding: 0 5px;
}

.phass__ghosts li:last-child:after,
.phass__objectives li:last-child:after {
  content: "";
}

.phass__possible-ghosts {
  clear: both;
}

.phass__ghosts {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.pass__ghost-name {
  background-color: #ccc;
}

.phass__ghost {
  color: #ddd;
  cursor: pointer;
  float: left;
}

.phass__ghost:hover {
  color: cyan;
}

.phass__ghost:hover span {
  display: block;
}

.phass__ghost--hidden {
  opacity: 0.25;
}

.phass__ghost-info {
  position: absolute;
}

.phass__ghost-info p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.phass__ghost-strength {
  color: lightcoral;
}

.phass__ghost-weakness {
  color: lightgreen;
}

.phass__timer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 0 20px 0;
}

.phass__timer p {
  margin: 0 20px 0 0;
  padding: 0;
}

.phass__timer-play,
.phass__timer-stop,
.phass__timer-reset {
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
  display: block;
  padding: 0;
  margin: 0 5px 0;
}
.phass__timer-play img,
.phass__timer-stop img,
.phass__timer-reset img {
  height: auto;
  width: 20px;
}

.phass__timer-play:focus,
.phass__timer-stop:focus,
.phass__timer-reset:focus {
  outline: 0;
}

footer img {
  width: 20px;
}

@media (min-width: 768px) {
  .phass__banner img {
    margin-bottom: 50px;
  }
  .phass__evidence-text {
    display: block;
  }
  .phass__evidence-icon {
    position: absolute;
    right: 15px;
    width: 50px;
    left: unset;
    height: auto;
    top: 50%;
    transform: translate(0, -50%);
  }
  .phass__timer {
    margin: 0 20px 0 0;
  }
}